@import "normalize";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";

$sm: 544px;                       // Small screen / phone
$md: 768px;                       // Medium screen / tablet
$lg: 992px;                       // Large screen / desktop
$xl: 1200px;                      // Extra large screen desktop
$xxl: 1440px;                     // Wide desktop

$susy: (
  columns: 12, 
  container: 1024px,
  gutters: 0,
  box-sizing: border-box,
  // debug: (image: show-columns),
  gutter-position: inside
  );


.header, .footer {
  display: flex;
  justify-content: center;
  text-align: center;
  @include span(12);
  background-color: #aaa;
  .container{
    background-color: #aaa;
  }
}


.header {
  &__text {
    @include span(12);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

.footer {
  &__text{
    @include span(12);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}


main{
  margin: 0 auto;
  max-width: 1024px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  @include container();
  background-color: green;
  @include span(12);
}  

.colunm {
  @include span(12);
  padding: 20px;
  @include breakpoint($lg){
    @include span(4);
  }
  &__title{
    color: #000;
    @include span(12);
    text-align: center;
  }
  &__info{
    color: #aaa;
    @include span(12);
    font-size: 16px;
  }
}

.colunm-list{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  @include span(12);
  &__item{
   @include breakpoint($sm){
      @include span(6);
    }
    @include span(12);
    background-color: yellow;
    color: #000;
    line-height: 50px;
    text-align: center;
    outline: 1px solid #000;
  }
}

.page-content {
  padding: 20px;
  background-color: red;
  @include span(12);
  @include breakpoint($lg){
    @include span(8);
  }
  &__title{
    color: #000;
    @include span(12)
    text-align: left;
  }
}
